@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(https://github.com/cxindyli/portfolio/blob/master/gradient.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  color: #A06FFF;
  border: 5px outset red;
  padding: 5px;
}

p {
  font-style: italic;
  font-size: 8px;
  color: #29B7AC;
}

