@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: Blue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  color: #A06FFF;
  border: 5px outset red;
  padding: 5px;
}

p {
  font-style: italic;
  font-size: 8px;
  color: #29B7AC;
}

.hobbyheading {
  color: #65D549;
}

.movies {
  float:right;
}
